<?xml version="1.0" encoding="UTF-8"?>
<!--
/**
 * This file is part of the Magento initialization framework.
 * (c) 2013 Vadim Kusakin <vadim.irbis@gmail.com>
 *
 * For the full copyright and license information, please view the LICENSE
 * file that was distributed with this source code.
 */
-->
<phpunit colors="true"
    bootstrap="vendor/autoload.php">
    
    <testsuites>
        <testsuite name="Automated tests">
            <directory>tests/Irs</directory>
        </testsuite>
    </testsuites>
</phpunit>
    
